@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.Outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  color: var(--white);
}

:root {
  --white: hsl(0, 0%, 100%);
  --blue500: hsl(215, 51%, 70%);
  --cyan400: hsl(178, 100%, 50%);
  --blue1000: hsl(217, 55%, 10%);
  --blue975: hsl(217, 55%, 11%);
  --blue950: hsl(217, 54%, 11%);
  --blue900: hsl(216, 50%, 16%);
  --blue800: hsl(215, 32%, 27%);
  --bold: 600;
  --medium: 400;
  --thin: 300;
  --tiny: 200;
  --large-size: 1.25em;
  --medium-size: 1.125em;
  --small-size: 0.875em;
}

html,
body {
  background-color: var(--blue950);
  width: 100vw;
  height: 100vh;
}

.card-container {
  width: 100vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20.7em;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0em 1.5em 0em 1em var(--blue1000),
    0em 1.5em 0em 3em var(--blue975);
  background-color: var(--blue900);
}

.card > * {
  margin: 1.1em 0;
}

.card-img > img {
  border-radius: 0.5em;
  width: 17.7em;
  height: auto;
  display: block;
}

.card-img {
  margin: 0;
  position: relative;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  border-radius: 0.5em;
  transition: 0.5s ease;
  position: absolute;
  background-color: hsl(178, 100%, 50%, 0.5);
}

.icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.card-img:hover .overlay {
  opacity: 1;
}

.card h1 {
  margin: 1em 0;
  font-size: 1.25em;
  font-weight: var(--bold);
}

.card h1 a {
  text-decoration: 0;
  transition: color 0.4s;
  color: var(--white);
}

.card h1 a:hover {
  color: var(--cyan400);
}

.card p {
  font-weight: var(--tiny);
  font-size: var(--medium-size);
  color: var(--blue500);
}

.card p#description {
  margin: 1.2em 0;
}

.card hr {
  border: 0.0625em solid var(--blue800);
}

.price-time {
  margin: 1.15em 0;
  display: flex;
  justify-content: space-between;
}

.price-time div p {
  margin-left: 0.4375em;
  font-weight: var(--medium);
  font-size: var(--small-size);
}

.price-time div:first-child p {
  margin-left: 0.3125em;
  font-weight: var(--bold);
  color: var(--cyan400);
}

.price-time div {
  display: flex;
  align-items: center;
}

.user-info {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.user-info img {
  border-radius: 2em;
  width: 2em;
  height: 2em;
  border: 0.0625em solid var(--white);
}

.user-info p {
  margin-left: 1em;
  font-size: var(--small-size);
  font-weight: var(--thin);
}

.user-info p a {
  transition: color 0.4s;
  text-decoration: none;
  color: var(--white);
  font-size: var(--medium-size);
}

.user-info p a:hover {
  color: var(--cyan400);
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0.5em;
}

.attribution {
  text-align: center;
  font-size: 0.6875em;
}

.attribution a {
  text-decoration: none;
  color: var(--cyan400);
}
