@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.Outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

:root {
  --link: hsl(228, 45%, 44%);
  --white: hsl(0, 0%, 100%);
  --blue500: hsl(215, 51%, 70%);
  --cyan400: hsl(178, 100%, 50%);
  --blue950: hsl(217, 54%, 11%);
  --blue900: hsl(216, 50%, 16%);
  --blue800: hsl(215, 32%, 27%);

  --bold: 600;
  --medium: 400;
  --thin: 300;
  --tiny: 200;

  --large-size: 1.25em;
  --medium-size: 1.125em;
  --small-size: 14px;
}

html,
body {
  background-color: var(--blue950);
}

.card-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20.7em;
  padding: 1.5em;
  border-radius: 1em;
  background-color: var(--blue900);
}

.card > * {
  margin: 1.1em 0;
}

.card img {
  margin: 0;
  width: 17.7em;
  border-radius: 0.5em;
  height: auto;
}

.card h1 {
  margin: 1em 0;
  font-size: 1.25em;
  font-weight: var(--bold);
}

.card h1 a {
  transition: color 0.3s;
  text-decoration: 0;
  color: var(--white);
}

.card h1 a:hover {
  color: var(--cyan400);
}

.card p {
  font-weight: var(--tiny);
  font-size: var(--medium-size);
  color: var(--blue500);
}

.card p#description {
  margin: 1.2em 0;
}

.card .horizontal-rule {
  border-top: 1px solid var(--blue800);
}

.price-time {
  display: flex;
  justify-content: space-between;
  margin: 1.15em 0;
}

.price-time div:nth-child(1) img {
  width: 12px;
}

.price-time div p {
  margin-left: 7px;
  font-weight: var(--medium);
  font-size: var(--small-size);
}

.price-time div:first-child p {
  margin-left: 5px;
  font-weight: var(--bold);
  color: var(--cyan400);
}

.price-time div:nth-child(2) img {
  width: 16px;
}

.price-time div {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0;
}

.user-info img {
  border: 1px solid var(--white);
  border-radius: 2em;
  width: 2em;
  height: 2em;
}

.user-info p {
  margin-left: 1em;
  font-size: var(--small-size);
  font-weight: var(--thin);
}

.user-info p a {
  text-decoration: none;
  transition: color 0.3s;
  color: var(--white);
  font-size: var(--medium-size);
}

.user-info p a:hover {
  color: var(--cyan400);
}

.attribution {
  text-align: center;
  font-size: 0.6875em;
}

.attribution a {
  color: var(--link);
}
